<div class="container">
  <div class="hero-box">
      <div class="hero__slider swiper">
          <div class="swiper-wrapper">
              <div class="hero__items swiper-slide set-bg" data-setbg="../assets/image/hero/hero-1.jpg">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="hero__text">
                              <div class="label">Приключения</div>
                              <h2>Fate / Stay Night</h2>
                              <p>После 30 дней путешествия по миру...</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="hero__items swiper-slide set-bg" data-setbg="../assets/image/hero/hero-2.jpg">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="hero__text">
                              <div class="label">Сёнен</div>
                              <h2>Naruto</h2>
                              <p>В поисках своего пути нинзя...</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="hero__items swiper-slide set-bg" data-setbg="../assets/image/hero/hero-3.jpg">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="hero__text">
                              <div class="label">Фентези</div>
                              <h2>Sword Art Online</h2>
                              <p>Уровни - это просто цифры. </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="hero__slider-pagination swiper-pagination"></div>
      <div class="hero__slider-arrow arrow__next swiper-button-next">
          <span class="arrow_carrot-left"></span>
      </div>
      <div class="hero__slider-arrow arrow__prev swiper-button-prev">
          <span class="arrow_carrot-left"></span>
      </div>
  </div>
</div>